<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css')}}">
    
    {% block title %}{% endblock %}
    
</head>
<body>
    <h1>{% block heading %}{% endblock %}</h1>
    {%block body%}{%endblock%}
<script src="{{ url_for('static', filename='swiper.min.js')}}"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows : true,
        },
        pagination: {
          el: '.swiper-pagination',
        },
      });
</script>
</body>



</html>