{%extends "layout.html" %}

{% block title %}<title>New Words</title>{% endblock %}

{% block body %}
<div class="swiper-container">
    <div class="swiper-wrapper">
      {% for i in name2 %}
        <div class="swiper-slide">
  
      <div class="card">
      <div class="sliderText">
         <h3>New Words from page {{i}} is:</h3>
         
      </div>
          <div class="content">
              <p >{{ ph(i)}}</p>
      `   </div>
        </div>
      </div>
      {% endfor %}
  </div>
  </div>
  
  
  <a class="next" href="{{ url_for('index') }}">Login Again</a></div>
  
  
{% endblock %}