<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    
    <link rel="stylesheet" href="/static/css/main1.css">

</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="card">
                <div class="sliderText">
                    <h3>Slide One</h3>
                </div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lore</p>
            </div>
        </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="sliderText">
                    <h3>Slide Two</h3>
                </div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lore</p>
            </div>
        </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="sliderText">
                    <h3>Slide Three</h3>
                </div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lore</p>
            </div>
        </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="sliderText">
                    <h3>Slide Four</h3>
                </div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lore</p>
            </div>
        </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="sliderText">
                    <h3>Slide Five</h3>
                </div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lore</p>
            </div>
        </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="sliderText">
                    <h3>Slide six</h3>
                </div>
            <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lore</p>
            </div>
        </div>
        </div>
        </div>
        </div>
    
            
 
        
    </div>
<script src="/templates/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows : true,
        },
        pagination: {
          el: '.swiper-pagination',
        },
      });
</script>
</body>
</html>